<div class="input-box">
    <input type="text" name="username" id="username" placeholder="Username" value="<%= order.username %>" required>
    <i class='bx bxs-user'></i>
</div>

<div class="input-box">
    <input type="email" name="email" id="email" placeholder="Email" value="<%= order.email %>" required>
    <i class='bx bxs-envelope'></i>
</div>

<div class="input-box">
    <input type="tel" name="tel" id="tel" placeholder="Phone Number" value="<%= order.tel %>" required>
    <i class='bx bxs-phone'></i>
</div>


<div class="input-box">
    <select name="menu" id="menu" required>
        <option value="<%= order.menu %>" disabled selected>Select Option</option>
        <option value="Aurum">Aurum</option>
        <option value="Smaragdus 5 course">Smaragdus</option>
        <option value="Iaspis">Iaspis</option>
    </select>
    <i class='bx bxs-down-arrow'></i>
</div>

<div class="input-box">
    <textarea placeholder="Description" rows="4" name="description" id="description"><%= order.description %></textarea>
    <i class='bx bxs-message-square-detail'></i>
</div>

<button type="submit" class="btn">Submit</button>

<% if (!admin) { %>
    <div class="container-btn">
        <a href="/">Back</a>
    </div>
<% } else { %>
    <div class="container-btn">
        <a href="/admin">Back</a>
    </div>
<% } %>